@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that aren't covered by DaisyUI */
@layer components {
  .chat-message-container {
    @apply flex-1 p-4 overflow-y-auto space-y-2 max-h-[calc(100%-100px)] h-full min-h-[calc(100%-100px)];
  }
  
  .chat-message {
    position: relative;
  }
  
  .chat-message-wrapper-self {
    @apply flex items-end justify-end;
  }
  
  .chat-message-wrapper-other {
    @apply flex items-end justify-start;
  }
  
  .chat-message-content-self {
    @apply flex flex-col w-1/2 mx-2 relative items-end order-1;
  }
  
  .chat-message-content-other {
    @apply flex flex-col w-1/2 mx-2 relative items-start order-2;
  }
  
  .chat-message-time .time-short {
    display: inline;
  }
  
  .chat-message-time .time-full {
    display: none;
  }
  
  .chat-message-time:hover .time-short {
    display: none;
  }
  
  .chat-message-time:hover .time-full {
    display: inline;
  }
  
  .chat-message-buttons {
    display: none;
    gap: 0.25rem;
    margin-top: 0.25rem;
  }
  
  .chat-message:hover .chat-message-buttons {
    display: flex;
  }
}
